body{
  background-color: black;
  margin: 1px 0 0 0;
}
*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  margin-top: -8px;
  display: grid;
  grid-template-areas: "nav main trends";
  grid-template-columns: 22% 47% 31%;

}
nav{
  grid-area:"nav";
  /* margin-right: 10px; */
  /* display: flex; */
  height: fit-content;
  width: 100%;
  float: left;
  flex-direction: column;
  position:sticky;
  top: 10px;
}
nav input[type="button"]{
  margin-left: 16px;
}
nav li{
  margin-top: 10px;
  height: 40px;
  width: 50px;
  border-radius: 50%;
}
.navb:hover{
  background-color: #131527;
}
a{
  text-decoration: none;
  color: white;
  
}
/* a:hover{
  background-color: #59595c77;
} */
.navb{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50%;
  padding: 5px;

}
main{
  grid-area: "main";
  border-right: 1px solid rgb(68, 67, 67);
  border-left: 1px solid rgb(68, 67, 67);
}
aside{
  grid-area: "trends";
  margin-left: 20px;
  position: sticky;
  /* width: 80%; */
}
.sidel{
  float: right;
  position: sticky;
  /* top: 60px; */
  overflow-y: auto;
  width: 100%;
}
.sidel ul{
  padding-left: 25px;
}
.sidel ul a{
  width: fit-content;
}
.sidel li:hover{
  background-color: #59595c;
  width: fit-content;
  border-radius: 7px;
}
li{
  list-style-type: none;
}
input[type="button"]{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 50px;
  color: white;
  /* font-size: 5 ; */
  background-color: rgb(29, 155, 240);
}
.pro{
  margin-top: 10px;
  width: 100%;
  justify-content: space-around;
}
.pro:hover{
  background-color: #131527;
  border-radius: 100px;
}
.fside{
  float:right;
  display: flex;
  width: 90%;
  margin-right: 20px;
  flex-direction: column;
}
input[type="search"]{
  border: 1px solid #131527;
  background-color: rgb(22, 24, 28);
  color: white;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 10px 10px 10px 30px;
  background-image: url(/twitter_images/Search.svg);
}
::placeholder{
  color: grey;
}
/* #pinput::placeholder{
  font-size: 30px;
} */
.logo{
  margin-left: 19px;
  margin-top: 25px;
}
.logo img:hover{
  background-color: rgb(128, 128, 136);
  border-radius: 50%;
}
h3{
  /* margin-top: ; */
  padding-left: 8px;
  font-size: 26px;
  margin-bottom: 10px;
  color: white;
}
main h3{
  margin-left: 10px;
  margin-top: 0;
  font-size: 20px;
}
p{
  margin: 0;
}
h4{
  padding-top: 10px;
  padding-bottom: 3px;
  margin: 0;
  font-size: 22px;
  color: white;
}
h5{
  color: white;
  margin: 0;
  font-size: 18px;
}
h6{
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 8px;
  color: white;
}
.onthis{
  font-weight: 700;
  font-size: smaller;
  padding-top: 7px;
  /* padding-bottom: 12px; */
  color: #f7f7f7;
}
.getv{
  border: 1px solid #131527;
  background-color: rgb(22, 24, 28);
  color: white;
  border-radius: 7px;
  margin-top: 10px;
  padding: 10px;
}
.getv input{
  width: 35%;
  padding: 0 15px 0 15px;
  font-weight: 700;
  font-size: 15px;
}
.trends{
  border: 1px solid #131527;
  background-color: rgb(22, 24, 28);
  color: white;
  border-radius: 7px;
  margin-top: 10px;
  height: fit-content;
  padding-bottom: 10px;
}
.trends h4{
  margin-left: 10px;
}
.trend-content{
  /* box-sizing: border-box; */
  width: 100%;
  /* padding-bottom:10px; */
  border-radius: 6px;
}
.trend-opt{
  float: right; top: -50px; position:relative
}
.trend-opt:hover{
  background-color: #4154ff;
  border-radius: 50%;
}
.trends ul{
  margin: 0;
  padding: 0;
  width: 100%;
  /* padding: 8px; */
  /* padding-left: 10px; */
}
.trends li:hover{
  width: 100%;
  background-color: rgba(41, 44, 49, 0.932);
}
.trends li{
  height: 70px;
  column-gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}
.trends a{
  display: flex;
  gap: 190px;
  margin-top: 12px;
}
sub{
  color: #59595c;
}
sup{
  color: #4154ff;
}
.follow{
  border: 1px solid #131527;
  background-color: rgb(22, 24, 28);
  color: white;
  border-radius: 7px;
  margin-top: 10px;
  /* padding: 10px; */
}
.follow h4{
  margin-left: 10px;
}
.bot{
  font-weight: 000;
  font-size: 16px;
}
.top-nav{
  display: flex;
  height: 50px;
  justify-content: space-around;
  border-bottom: 1px solid rgb(68, 67, 67);
  margin-top: 10px;
}
.top-nav a{
  display: flex;
  flex-direction: column;
  border-bottom: #131527 1px solid;
}
.top-nav a:hover{
  background-color: rgba(41, 44, 49, 0.932);
}
#dar{
  color: #9b9ba3;
}
/* .top-nav p{
  height: 50%;
  padding-bottom: 20px;
  border-bottom: rgb(29, 155, 240) solid 2px;
} */
.di{
  border: rgb(29, 155, 240) solid 2px;
  border-radius: 3px;
  width: 20%;
  margin-bottom: 0;
}
.top-nav-s{
  position: sticky;
  top: 0;
  padding-top: 5px;
  background-color: #000000f1
}
.top-nav a{
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  width: 50%;
  /* height: 50%; */
  justify-content: space-around;
}
.sidebar{
  margin-left: 10px;
  width: 330px;
}
.pp{
  border-radius: 50%;
  width: 40px;
  margin: 7px;
}
.post{
  border-bottom: rgb(68, 67, 67) 1px solid;
  color: rgb(109, 109, 109);
}
#post{
  width: 90%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
}
.post-btn{
  float: right;
  height: 50px;
}
.post-btn a{
  /* width: 90%; */
  display: block;
  height: 50%;
}
.poa:hover{
  background-color: #4154ff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.post-btn a:hover{
  background-color: none;
}
.log-out{
  /* padding: 10px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 20px; */
}
.log-out1{
  /* padding: 10px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 20px; */
}
.log-out1 h6{
  margin: 0;
}
.log-out a{
  margin-left: 50px;
}
.log-out:hover{
  background-color: #131527;
  border-radius: 50%;
}
.post-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.post-input2{
  padding-right: 3%;
  padding-bottom: 8px;
  font-weight: 900 ;
}
.post-input input{
  width: 65px;
  font-weight: 700;
  font-size: 16.5px;
  height: 35px;
  padding: 0;
  padding-bottom: 3px;
}
.post-input input ::placeholder{
  color: #59595c !important;
}
.post-input1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#post-input{
  width: 90%;
  height: 45px;
  margin-bottom: 30px;
  padding-top: 25px;
  border: none;
  background-color: black;
  color: whitesmoke;
}
#post-input::placeholder{
  font-size: 20px;
  font-weight: 400;
}
.post-input ul{
  display: flex;
  padding:0;
  width: 45%;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding-left: 10%;
  gap: 10px;
}
.is{
  width: 20px;
}
.post-head{
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  gap: 6px;
}
.post-head1{
  display: flex;
  padding-top: 5px;
  gap: 4px;
}
.post-head1 h6{
  margin: 0;
  color: white;
  height: 30px;
  margin-top: 8px;
}
.post-head1 sub{
  margin-top: 8px;
  font-size: 12px;
  color: #9b9ba3;
}
.post-opt:hover{
  background-color: #4154ff;
  border-radius: 50%;
}
.reaction{
  display: flex;
  /* margin-left: 60px; */
  border-bottom: #59595c solid 1px;
}
.reaction ul{
  display: flex;
  padding: 0;
  padding-left: 10%;
  /* justify-content: space-around; */
}
.verified{
  width: 15px;
  /* margin-top: 8px; */
}
.follow-sug{
  display: flex;
  padding: 3px;
  justify-content: space-around;
}
.follow-sug:hover{
  background-color: #59595c;

}
.follow-sug input{
  background-color: whitesmoke;
  color: black;
  font-weight: 600;
  width: 30%;
  height: 35px;
  margin-top: 10px;
}
.uname{
  height: fit-content;
}
.uname h6{
  margin-bottom: 0;
  margin-top: 4px;
}
.unamem{
  display: flex;
  gap: 8px;
}
.fillcon{
  width: 100%;
  color: #4154ff;
  height: 40px;
  padding-left: 25px;

}
.follow-sugb{
  display: flex;
  padding: 3px;
  justify-content: space-around;
}
.follow-sugb:hover{
  background-color: #59595c;
  border-radius: 0px 0px 7px 7px;
}
.post-content{
  width: 85%;
  height: 500px;
  margin-left:60px;
  border: #59595c 2px solid;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
}
.img-2w{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 14px;
}
